*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.dog-picture { 
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*");
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    position: fixed; 
    background-size: cover; 
    background-repeat: no-repeat;
    z-index:-5;
}

.shopButton { 
    position: absolute;
    top: 55%;
    background-color: #021E39;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.shopButton:hover { 
    background-color: #FCD00D;
}

.welcome-text { 
    color: #FCD00D; 
    position: absolute;
    left: 5%;
    top: 23%;
    font-size: 5vw; 
    font-family: sans-serif; 
    font-weight: bold;
}

.welcome-text-bottom{ 
    color: #FCD00D; 
    position: absolute;
    left: 10%;
    top: 37%;
    font-size: 4vw; 
    font-family: sans-serif;
    font-weight: bold;
}

.wrapper{ 
    display: flex;
    justify-content: center;
}
